html
  head
    title Bharat Academy
    block scripts
    block styles
  body
    nav#navbar 
        ul 
            li #[a(href="/") Home]
            li #[a(href="/") Services]
            li #[a(href="/") About]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact]
    block content
    footer#footer 
        | Copyright © 2023 BharatAcademy.com