extends  base.pug 

block scripts 
    script(src='../static/index.js')

block styles
    style
      include ../static/styles.css
block content 
    section#introsection 
        div Welcome to Bharat Academy 
        div.small Your journey to becoming a classical dancer begins here.
    section#typessection 
        h2#head Classical Dances
        div#card 
            div.card-box 
                h3 Odissi
                div.img 
                    img( src='../static/Odissi.webp')
                div.img-text 
                    p Odissi is indigenous to Orissa in eastern India. It is predominantly a dance for women, with postures  that replicate those found in temple sculptures. Based on archaeological findings, odissi is belived to be the oldest of the surviving Indian classical dances. Odissi is a very complex and expressive dance, with over fifty mudras commonly used.
            div.card-box 
                h3 Kuchipudi
                div.img 
                    img( src='../static/Kuchipudi.webp')
                div.img-text 
                    p kuchipudi requires talent in both dancing and singing. This dance, from the state of Andhra Pradesh in southeastern India,is highly ritualized, with a formalized song-and-dance introduction, sprinkling of holy water, and burning of incense, along with invocations of goddesses. Traditionally the dance was performed by men, even the female roles, although now it is predominantly performed by women.
            div.card-box 
                h3 Manipuri
                div.img 
                    img( src='../static/Manipuri.webp')
                div.img-text 
                    p Manipuri comes from Manipur in FarEast India. It has its roots in that state’s folk traditions and rituals, and often depicts scenes from the life of the god Krishna. Unlike some of the other, more rhythmic dances, Manipuri is characterized by smooth and graceful movements. Female roles are especially fluid in the arms and hands, while male roles tend to have more forceful movements. The dance may be accompanied by narrative chanting and choral singing.
            div.card-box 
                h3 Kathak
                div.img 
                    img( src='../static/kathak.webp')
                div.img-text 
                    p A dance of northern India, Kathak is often a dance of love. It is performed by both men and women. The movements include intricate footwork accented by bells worn around the ankles and stylized gestures adapted from normal body language. It was originated by Kathakas, professional storytellers who  used a mixture of dance, song, and drama. Like other Indian dances it began as a temple dance, but soon moved into the courts of ruling houses.
            div.card-box 
                h3 Kathakali
                div.img 
                    img( src='../static/Kathakali.webp')
                div.img-text 
                    p Kathakali comes from southwestern India, around the state of Kerala. Like bharatanatyam, kathakali is a religious dance. It draws inspiration from the Ramayana and stories from Shaiva traditions. Kathakali is traditionally performed by boys and men, even for female roles. The costumes and makeup are especiallyelaborate, with faces made to look like painted masks and enormous headdresses.
            div.card-box 
                h3 Bharatanatyam
                div.img 
                    img( src='../static/Bharatanatyam.webp')
                div.img-text 
                    p Bharatanatyam is a dance of Tamil Nadu in southern India. It traces its origins back to the Natyashastra, an ancient treatise on theatre written by the mythic priest Bharata. Originally a temple dance for women, bharatanatyam often is used to express Hindu religious stories and devotions. It was not commonly seen on the public stage  until the 20th century. The dance movements are characterized by bent legs, while feet keep rhythm. Hands may be used in a series of mudras, or symbolic hand gestures, to tell a story.
    section#sponsorsection 
        h2 Our Sponsors
        div#sponsor 
            img( src='../static/Tata-logo.webp' alt='404 Error' class="sponsorimg")
            img( src='../static/ISRO-Logo.webp' alt='404 Error' class="sponsorimg")
            img( src='../static/jio.svg' alt='404 Error' class="sponsorimg")
            img( src='../static/mahindra.webp' alt='404 Error' class="sponsorimg")