*{
    margin:0px;
    padding:0;
    box-sizing: border-box;;
}
#navbar{
    padding: 13px 4px;
    background-color: aqua;

}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    text-decoration: none;
    padding: 2px 18px;
}

#introsection{
    height: 300px;
    background-color: red;
}
#sponsersection{
    height: 300px;
    background-color: blue;
}
#footer{
    height: 100px;
    background-color: green;
}